<footer class="footer">
    Page loaded: <span id="LoadTime"></span>
    <section class="section-latency">
        <div class="latency"></div>
    </section>
    <div class="footer_menu1">
        <h3>Sport Club</h3>
    </div>
    <div class="footer_menu2">
        <ul class="footer_menu ul">
            <li class="footer_menu-item">
                <a href="vacancies.html">Вакансии</a>
            </li>
            <li class="footer_menu-item">
                <a href="promotion.html">Реклама</a>
            </li>
        </ul>
    </div>
    <div class="footer_menu3">
        <a href="#open">
            <svg viewBox="0 0 100 100" width="100" height="100">
                <defs>
                    <path id="circle"
                          d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                </defs>
                <text font-size="15">
                    <textPath xlink:href="#circle">
                        Нажми, чтобы вернуться в начало...
                    </textPath>
                </text>
            </svg>
        </a>
    </div>
</footer>