
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#club">Клубы</a>
    <a href="#aura">Отзывы</a>
    <a href="#tariffs">Тарифы</a>
    <a href={{path}}>{{title}}</a>
</div>

<div id="navbar" onclick="openNav()"><i class="fa fa-bars"></i>Меню</div>